/*! Colors */
:root {
  --background-color: #aea;
  --text-color: #fff;
  --color-grid1: #0101cc;
}

/*! Typography - Size */
$body-root-font-size: 16px;
$theme-typography-sizes: (
  "h1": 32px,
  "h2": 28px,
  "h3": 26px,
  "h4": 22px,
  "h5-plus": 21px,
  "h5": 20px,
  "h6": 18px,
  "base": 16px,
  "s": 14px,
  "xs": 12px,
);
