@use "../utils/breakpoints" as b;

.test {
  background: var(--background-color);
  //   @include m.background-opacity(var(--background-color), 0.2);

  @include b.breakpoint-down(screen-xl) {
    background: pink;
  }

  @include b.breakpoint-down(screen-lg) {
    background: red;
  }

  @include b.breakpoint-down(screen-md) {
    background: yellowgreen;
  }

  @include b.breakpoint-down(screen-sm) {
    background: palevioletred;
  }
}
